-import index._

-@ val servletName: String
-@ val nodeName: String
-@ val index:DirectoryIndex

h1= nodeName
h2= "/" + index.path



-for(i <- index.subDirectories)
    p
        a(href={"/" + servletName+"/" + nodeName+ "/" +i.path})
            =i.handler.getName
        form(method="POST")
            input(hidden=true name="json" value = '{"foo": "bar"}')
            input(hidden=true name="filekierwa" value={i.handler.getName})
            input(type="submit" value="push" )

-for(i <- index.subFiles)
    p
        a
            =i.handler.getName
        form(method="POST")
            input(hidden=true name="file" value={i.handler.getName})
            input(type="submit" value="push" )