-import index._

-@ val nodeNames: List[String]
-@ val servletName: String
-@ val nodeName: String
-@ val index:DirectoryIndex

h1= nodeName
h2= "/" + index.path


form(method="POST" id="pushform")
    p
        ="Recipient node: "
        select(name="recipient" id="select")
            -for(node <- nodeNames.filter(_!=nodeName))
                option(value = {node})=node


    -for(i <- index.subDirectories)
        p
            a(href={"/" + servletName+"/" + nodeName+ "/" +i.path})
                =i.handler.getName
            -if(nodeNames.filter(_!=nodeName)!=List())
                button(type="submit" name="file" value={i.handler.getName})
                    ="push"
            -else
                button(type="submit" disabled name="file" value={i.handler.getName})
                    ="push"


    -for(i <- index.subFiles)
        p
            a
                =i.handler.getName
            -if(nodeNames.filter(_!=nodeName)!=List())
                button(type="submit" name="file" value={i.handler.getName})
                    ="push"
            -else
                button(type="submit"  disabled name="file" value={i.handler.getName})
                    ="push"
